{% extends "loja/layout.html" %}

{% block body %}
  <div class="pad">
  {% if validlink %}
    <h3>Mudar senha</h3>
    <form method="post">
      {% csrf_token %}
      <p>Digite a nova senha:</p>
      <p><input name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Senha" type="password" /></p>
      <p><input name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Repetir senha" type="password" /></p>
      <button type="submit">Mudar senha</button>
    </form>
  {% else %}
    <p>
      O link utilizado foi inválido, possivelmente porque já foi utilizado.
      Por favor, tente uma nova troca de senha!
    </p>
  {% endif %}
  </div>
{% endblock %}
