{% extends "loja/layout.html" %}
{% load static %}
{% block title %}
    Meus Pedidos
{% endblock %}

{% block body %}
<div class="blocos" style="flex-direction: column; justify-content: flex-start;">
    <form method="get" action=".">
        <label>Cep:
            <input name="cep" type="text" id="cep" value="{{cep}}" size="10" maxlength="9" onblur="pesquisacep(this.value);" required/></label><br />
        <label>Rua:
        <input name="rua" type="text" id="rua" size="60"  value="{{rua}}" readonly required/></label><br />
        <label>Bairro:
        <input name="bairro" type="text" id="bairro" size="40"  value="{{bairro}}" readonly required/></label><br />
        <label>Cidade:
        <input name="cidade" type="text" id="cidade" size="40"  value="{{cidade}}" readonly required/></label><br />
        <label>Estado:
        <input name="uf" type="text" id="uf" size="2" value="{{uf}}" readonly required/></label><br />
        <label>Número:
        <input name="cidade" type="text" id="cidade" size="40"  value="{{cidade}}" readonly required/></label><br />
    </form>
</div>
<script src="{% static 'cep.js' %}"></script>
{% endblock %}
