{% extends "loja/layout.html" %}
{% load static %}
{% block title %}
    Massaroca!
{% endblock %}

{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/images/8.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static '/images/1.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static '/images/7.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próxima</span>
  </a>
</div>

<div class="produtos_loja">
    <div class="bloco_1">
        <div class="produtos_loja_texto" data-aos="zoom-in">
            Texto
        </div>
        <a class="produtos_loja_botao" data-aos="zoom-in-up" href="{% url 'loja' %}">CONHEÇA NOSSOS PRODUTOS</a>
    </div>
    <div class="bloco_2">
        <div class="produtos_loja_texto_2" data-aos="zoom-in">
            Texto 2
        </div>
        <a class="produtos_loja_botao_2" data-aos="zoom-in-up" href="{% url 'quemsomos' %}">CONHEÇA NOSSA HISTÓRIA</a>
    </div>
</div>
{% endblock %}
