{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}"/>
        <link rel="stylesheet" href="{% static 'aos/aos.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static '/images/Logo_massaroca.jpeg' %}"/>
            <title>{% block title %}Massaroca{% endblock %}</title>
    </head>
    <body>
    <div class="pagina">
        <nav class="nav">
            <div class="container_32">
                <div class="box_logo">
                    <a href="{% url 'index' %}"><img src="{% static '/images/Logo_massaroca_render.png' %}" alt="Carrinho" class="logo"></a>
                </div>
                <div class="procura">
                    <form action="{% url 'pesquisa' %}" method="post">
                    {% csrf_token %}
                        <input class="pesquisa" name="pesquisa" placeholder="Procurar..." type="text"/>
                        <input type="image"src="{% static '/images/pesquisa.png' %}" alt="Pesquisar" class="botao_pesquisa">
                    </form>
                </div>
            <div class="container_31">
                <div class="box-sobre">
                    <div class="loja"><a class="bot_loja" href="{% url 'categoria' categoria='Massas' ordem='Nome' num_pagina='1' %}">MASSAS</a></div>
                </div>
                <div class="box-sobre">
                    <div class="loja"><a class="bot_loja" href="{% url 'categoria' categoria='Pães' ordem='Nome' num_pagina='1' %}">PÃES</a></div>
                </div>
                <div class="box-contato">
                    <div class="loja"><a class="bot_loja" href="{% url 'categoria' categoria='Guloseimas' ordem='Nome' num_pagina='1' %}">GULOSEIMAS</a></div>
                </div>
                <div class="box-loja">
                    <div class="loja"><a class="bot_loja" href="{% url 'loja' %}">ENCOMENDAS</a></div>
                </div>
                <div class="cart">
                    <a href="{% url 'carrinho' %}"><img src="{% static '/images/shop-branco.png' %}" alt="Carrinho" class="cart_2"></a>
                </div>
                    {% if log == True %}
                <div class="user">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle logado" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static '/images/perfil.png' %}" alt="perfil" class="perfil_foto"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item">Olá, <strong>{{username.first_name}}</strong>!</a>
                                <a class="dropdown-item" href="{% url 'pedidos' %}">Seus pedidos</a>
                                <a class="dropdown-item" href="{% url 'perfil' %}">Seu Perfil</a>
                                <a class="dropdown-item" href="{% url 'logout1' %}">Logout <img src="{% static '/images/logout.png' %}" alt="Logout" class="logout"></a>
                            </div>
                    </div>
                    </div>
                    {% else %}
                    <div class="user_2">
                    <button id="login" class="btn botao_login">ENTRAR|CADASTRO</button>
                    </div>
                    {% endif %}

            </div>
            </div>
        </nav>
        <div class="bg-modal">
            <div class="modal-content">
                <div class="close close2">
                    +
                </div>
                <div class="log">
                    Login
                </div>
                <div class="reg">
                    Registrar-se
                </div>
                    <form action="{% url 'logingin' %}" method="post">
                        {% csrf_token %}
                        <br>
                        <h2>Login:</h2>
                        <input class="login form-control" name="username" placeholder="Usuário" type="text"/>
                        <input class="login form-control" name="password" placeholder="Senha" type="password"/>
                        <input class="btn botao_login_2" type="submit" value="Login"/>
                    </form>
                    <form action="{% url 'forgot' %}" method='post'>
                        {% csrf_token %}
                        <input class="btn botao_login_2" type="submit" value="Esqueci minha senha"/>
                    </form>
            </div>
        </div>

        <div class="bg-modal_2">
            <div class="modal-content_2">
                <div class="close close2">
                    +
                </div>
                <div class="log">
                    Login
                </div>
                <div class="reg reg2">
                    Registrar-se
                </div>
                <form action="{% url 'registering' %}" method="post">
                    {% csrf_token %}
                    <br>
                    <h2 style="margin-top:15px;">Registre-se:</h2>
                    <input class="register form-control" name="firstn" placeholder="Nome" type="text" required/>
                    <input class="register form-control" name="lastn" placeholder="Sobrenome" type="text" required/>
                    <input class="register form-control" name="email" placeholder="Email" type="email" required/>
                    <input class="register form-control" name="username" placeholder="Usuário" type="text" required/>
                    <input class="register form-control" minlength="15" maxlength="15" name="celular" placeholder="Celular" type="text" onkeypress="$(this).mask('(00) 0000-00000')" required/>
                    <input class="register form-control" minlength="14" maxlength="14" name="cpf" placeholder="CPF" type="text" onkeypress="$(this).mask('000.000.000-00');" required/>
                    <input class="register form-control" minlength="6" name="password" placeholder="Senha" type="password" required/>
                    <input class="register form-control" class="btn botao_login_2" type="submit" value="Registrar"/>
                </form>
            </div>
        </div>
        <div class="alert alert-danger alert-dismissible fade show alerta" style="display:{{status}};" role="alert">
          <strong>Usuário e/ou senha errados!</strong> Verifique seus dados ou aperte em "Esqueci minha senha."
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show alerta" style="display:{{status7}};" role="alert">
          <strong>É preciso estar registrado e logado para fazer isso!</strong> Aperte no botão "Entrar/Cadastre-se" no canto superior direito."
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show alerta" style="display:{{status4}};" role="alert">
          <strong>Não foi possível criar sua conta!</strong> Verifique se você utilizou informações válidas e tente novamente.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show alerta" style="display:{{status5}};" role="alert">
          <strong>Uma conta com este Usuário e/ou email já existe!</strong> Tente novamente com outros dados.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-success alert-dismissible fade show alerta" style="display:{{status6}};" role="alert">
          <strong>Conta ativada com sucesso!</strong> Aproveite nossa loja!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-success alert-dismissible fade show alerta" style="display:{{status8}};" role="alert">
          <strong>Pedido feito com sucesso!</strong> Entre em seus pedidos (canto superior direito) para verificar o progresso!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-success alert-dismissible fade show alerta" style="display:{{status2}};" role="alert">
          <strong>Sua conta foi criada com sucesso!</strong> Verifique seu email e confirme sua conta!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-dark alert-dismissible fade show alerta" style="display:{{status3}};" role="alert">
          <strong>Você saiu de sua conta!</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="body">
        {% block body %}
        {% endblock %}
        </div>
        <div class="barinf">
            <div class="baritem">
                <img src="{% static '/images/Logo_massaroca_render.png' %}" alt="Massaroca" class="logobar">
            </div>
            <div class="baritem">
                Email
            </div>
            <div class="baritem">
                <img src="{% static '/images/instagram.png' %}" alt="Instagram" class="redebar">
                <img src="{% static '/images/facebook.png' %}" alt="Facebook" class="redebar">
                <img src="{% static '/images/linkedin.png' %}" alt="LinkedIn" class="redebar">
            </div>
        </div>
        <script src="{% static 'javascript.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'aos/aos.js' %}"></script>
        <script>AOS.init();</script>
    </div>
    </body>
</html>
