{% extends "loja/layout.html" %}
{% load static %}
{% block title %}
    Loja Massaroca
{% endblock %}

{% block body %}
    <div class="pre blocos" style="min-height:0;">
        <ul class="local">
            <li><a class="local_item" href="{% url 'index' %}"><strong>massaroca.com.br</strong></a></li>
            {% if cat == None %}
            {% else %}
            <li class="local_item"><strong>{{ cat }}</strong></li>
            {% endif %}
        </ul>
    </div>
    <div class="blocos">
        <div class="principal">
            <div class="ferramentas">
                <div class="titulo">
                    {% if cat == None %}
                    Loja
                    {% else %}
                    {{ cat }}
                    {% endif %}
                </div>
                <div class="ordenar">
                    <select id="ordem" onchange="location = this.value;" class="escolher-ordem" data-role="sorter">
                        <option value="{% url 'loja_ordem' 'Nome' %}">Nome</option>
                        <option value="{% url 'loja_ordem' 'Preço' %}">Menor preço</option>
                        <option value="{% url 'loja_ordem' '-Preço' %}">Maior preço</option>
                    </select>
                </div>
            </div>
                <div class="conteudo">
                    <div class="produtos">
                        {% for produto in produtos %}
                        <li>
                            <div class="prod">
                                {% if cat == None %}
                                <img src="../{{produto.Fotos.url|slice:'5:'}}" alt="produto" class="produto_foto_top"/>
                                <img src="../{{produto.Fotos_2.url|slice:'5:'}}" alt="produto" class="produto_foto_bottom"/>
                                {% else %}
                                <img src="../../{{produto.Fotos.url|slice:'5:'}}" alt="produto" class="produto_foto_top"/>
                                <img src="../../{{produto.Fotos_2.url|slice:'5:'}}" alt="produto" class="produto_foto_bottom"/>
                                {% endif %}
                                <div class="produto_texto">
                                    <h2 class="produto_titulo"><a class="redir_item" href="{% url 'produto' produto.id %}">{{produto.Nome}}</a></h2>
                                    <h3 class="produto_desc">{{produto.Descrição}}</h3>
                                    <div class="produto_preço">R${{produto.Preço}}</div>
                                    <a href="{% url 'produto' produto.id %}" class="comprar">
                                        <span id="before">
                                            <img src="{% static '/images/shop-branco.png' %}" alt="Carrinho" class="compras">
                                        </span>
                                        <span class="botao_comprar">
                                            COMPRAR
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <div class="barracategoria">
                <div class="categorias">
                    <ol>
                        <li class="item" style="cursor: auto; border-right:4px solid #ED6908; border-bottom: 1px solid #b55107;"><strong>CATEGORIAS</strong></li>
                        {% for categoria in categorias %}
                        <li class="item">
                            <a class="redir" href="{% url 'categoria' categoria %}">{{ categoria }}</a>
                        </li>
                        {% endfor %}
                    </ol>
            </div>
        </div>
    </div>
{% endblock %}
