{% extends "loja/layout.html" %}
{% load static %}
{% block title %}
    Meus Pedidos
{% endblock %}

{% block body %}
<div class="blocos" style="flex-direction: column; justify-content: flex-start;">
    <div class="titulo_pedidos">
        <div class="titulo_perfil">Seus Pedidos</div>
    </div>
    {% for pedido in pedidos %}
    <div class="align">
        <div class="bloco_titulo">
            <div class="titulo_perfil">Pedido #{{pedido.id}}</div>
        </div>
        <div class="pedido_info">
            <div class="pedido_coluna">
                Produtos Comprados:
                {% for item in pedido.Items.all  %}{% for quantidade in pedido.Quantidades %}
                    {% if forloop.counter0 == forloop.parentloop.counter0 %}
                <li class="laranja">{{item.Nome}}: R$ {{item.Preço}} x {{quantidade}}</li>
                    {% endif %}
                {% endfor %}{% endfor %}
                <li class="total"><strong>Total: R$ {{pedido.Preço_total}}</strong></li>
            </div>
            <div class="pedido_coluna">
                Endereço de entrega:
                <li class="laranja">{{pedido.Endereço_cliente}}</li>
            </div>
            <div class="pedido_coluna">
                {% if pedido.Status == "Pedido Feito" %}
                <li class="status checked">Pedido Feito</li>
                <li class="status">Pagamento Aprovado</li>
                <li class="status">Em transporte</li>
                <li class="status">Entregue</li>
                {% elif pedido.Status == "Pagamento Aprovado" %}
                <li class="status checked">Pedido Feito</li>
                <li class="status checked">Pagamento Aprovado</li>
                <li class="status">Em transporte</li>
                <li class="status">Entregue</li>
                {% elif pedido.Status == "Em transporte" %}
                <li class="status checked">Pedido Feito</li>
                <li class="status checked">Pagamento Aprovado</li>
                <li class="status checked">Em transporte</li>
                <li class="status">Entregue</li>
                {% elif pedido.Status == "Entregue" %}
                <li class="status checked">Pedido Feito</li>
                <li class="status checked">Pagamento Aprovado</li>
                <li class="status checked">Em transporte</li>
                <li class="status checked">Entregue</li>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
