{% extends "loja/layout.html" %}
{% load static %}
{% block title %}
    Perfil Massaroca
{% endblock %}

{% block body %}
<div class="blocos" style="flex-direction: column;">
    <div class="align">
        <div class="bloco_titulo">
            <div class="titulo_perfil">Dados da Conta:</div>
        </div>
        <div class="perfil_info">
            <div class="perfil">
                <strong class="laranja">Nome:</strong>
                <br>{{username.first_name}}
            </div>
            <div class="right perfil">
                <strong class="laranja">Sobrenome:</strong>
                <br>{{username.last_name}}
            </div>
            <div class="perfil">
                <strong class="laranja">Email:</strong>
                <br>{{username.email}}
            </div>
            <div class="right perfil">
                <strong class="laranja">Endereços:</strong>
                <br>{{username.userprofile.endereço}}
            </div>
            <div class="perfil">
                <strong class="laranja">Métodos de pagamento:</strong>
                <br>--------
            </div>
        </div>
    </div>
</div>
{% endblock %}
