{% extends "loja/layout.html" %}
{% load static %}
{% block title %}
    {{produto.Nome}}
{% endblock %}

{% block body %}
<div class="pre blocos" style="min-height:0;">
    <ul class="local">
        <li><a class="local_item" href="{% url 'index' %}"><strong>massaroca.com.br</strong></a></li>
        <li><a class="local_item" href="{% url 'categoria' produto.Categoriateste %}"><strong>{{ produto.Categoriateste }}</strong></a></li>
        <li class="local_item"><strong>{{ produto.Nome }}</strong></li>
    </ul>
</div>
<div class="blocos">
    <div class="info-produto">
        <div class="titulo-produto">
            {{ produto.Nome }}
        </div>
        <div class="descriçao-produto">
            {{ produto.Descrição }}
        </div>
        <div class="preço-produto">
            <img src="{% static '/images/cartao.png' %}" alt="Cartao" class="cartao">
            <span>
            Comprar por R${{ produto.Preço }}
        </div>
        <div class="botao-produto">
        {% if produto.Disponivel == "Sim" %}
            <a href="{% url 'add_carrinho' produto.id %}"><button type="button" title="Adicionar ao carrinho" class="botao-compra">COMPRAR<span class="span">Adicionar ao carrinho</span><span class="car"><img src="{% static '/images/shop-branco.png' %}" class="compras_2" /></span></button></a>
        {% else %}
            <span class="indisponivel_2">INDISPONÍVEL</span>
        {% endif %}
        </div>
    </div>
    <div class="bloco-foto">
        <div class="foto-slider">
            <img src="../../{{produto.Fotos.url|slice:'5:'}}" alt="produto" class="foto_produto"/>
        </div>
        <div class="foto-slider">
            <img src="../../{{produto.Fotos_2.url|slice:'5:'}}" alt="produto" class="foto_produto"/>
        </div>
        <div class="fotos_thumb">
            <div class="div_fotos">
                <div class="thumb_fotos">
                    <img src="../../{{produto.Fotos.url|slice:'5:'}}" alt="produto" class="thumbnail" onclick="currentSlide(1)"/>
                </div>
                <div class="thumb_fotos">
                    <img src="../../{{produto.Fotos_2.url|slice:'5:'}}" alt="produto" class="thumbnail" onclick="currentSlide(2)"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'fotos_produto.js' %}"></script>
{% endblock %}
