.nav {
    top: 0;
    position: sticky;
    width: 100%;
    height: 72px;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #ED6908;
}

.logo {
    padding: 3px;
    font-size:35px;
    font-family: monospace;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    color: #26170b;
}

.pad {
    padding: 10px;
}

#body {
    min-height: calc(100vh - 133px);
}

body {
    font: arial,sans-serif;
    background-color: #094F57;
}

.botao_login {
    background-color: darkgray;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 12px;
}

.perfil_foto {
    height: 40px;
}

#login {
    position: absolute;
    width: 170px;
    top: 10px;
}

.carousel-inner {
    border-bottom: 1px solid #ED6908;
}

.botao_login:hover {
    color: white;
    background-color: black;
}

.procura {
    width: 30%;
    height: 36px;
    margin-left: 27%;
    background: #f5f5f5;
    border-radius: 16rem;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateZ(0);
    align-self: center;
}

.botao_pesquisa {
    width: 33px;
    float: right;
    position: absolute;
    right: 10px;
}

.pesquisa {
    width: 100%;
    background: 0 0;
    height: 32px;
    text-align: center;
    font-weight: 300;
    border-radius: 16rem;
    border: 1px solid transparent;
    font-family: saira;
    font-size: 1rem;
    color: #778ca3;
    overflow: visible;
}

.cart {
    position: absolute;
    left: 78%;
    top: 15px;
    padding: 3px;
    width: 45px;
    color: #452612;
}

.cart:hover {
    transform: scale(1.3);
}

.qs:hover {
}


.center {
    text-align: center;
}

.user {
    left: 84%;
    padding: 3px;
    font-size:15px;
    font-family: monospace;
    top: 1px;
    bottom: auto;
    color: #452612;
    display: flex;
    position: absolute;
}

.logado {
    position: absolute;
    display: flex;
    white-space: normal;
    top: 10px;
    padding: 3px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 1px 1px lightgrey;
}



.items {
    background-image: linear-gradient(to right, #884619,#3F250B);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 73px;
}


.bg-modal , .bg-modal_2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 3;
}

.dropdown-item , .dropdown, .dropdown-menu {
    z-index: 5;
}

.carousel-control-next {
    z-index: 0;
}

.modal-content, .modal-content_2 {
    width: 500px;
    background-image: linear-gradient(to top, white 87%, lightgrey 87%);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-content_2 {
    background-image: linear-gradient(to top, white 90%, lightgrey 90%);
}

.close2 {
    position: absolute;
    display: inline-block;
    z-index: 111;
    top: -2px;
    right: 3px;
    font-size: 38px;
    transform: rotate(45deg);
    cursor: pointer;
}



.log , .reg {
    position: absolute;
    top: 3.5%;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 8px;
    left:2%;
    border-radius: 10px;
    border-bottom: 0;
}

.reg {
    left: 13%;
}

.login, .register {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.alerta {
    position: fixed;
    z-index: 3;
    top: 10px;
    right: 10px;
    display: none;
}

.logout {
    width: 20px;
}

.perfil {
    position: relative;
    margin-right: 15px;
    display: inline-block;
    height: 100px;
    width: 45%;
    flex-grow: 1;
}

.titulo_perfil {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #ED6908;
    padding-left: 10px;
}

.laranja {
    color: #797979;
}

.perfil_info {
    border: 1px solid #f5f5f5;
    border-top: 0;
    padding: 15px;
    background-color: #fbfbfb;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    width: 910px;
}

.bloco_titulo {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #f5f5f5;
    border: #ffffff;
    border-radius: 2px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    min-height: 36px;
    font-weight: bold;
    width: 910px;
    height: 60px;
}

.slide, .carousel-inner {
    height: 400px;
}

.barinf {
    width: 100%;
    bottom: 0;
    position: relative;
    display: block;
    height: 60px;
    background-color: #fcfcfc;
    border-top: 1px solid #e6e6e6;
}

.carousel-indicators {
    z-index: 2;
}

.baritem {
    position: relative;
    display: inline-block;
    border-right: 1px solid #e6e6e6;
    height: 80%;
    top: 10px;
    width: 33%;
    padding: 4px;
    color: #646464;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
div {
    box-sizing: border-box;
}

.quemsomos {
    height: 400px;
    width: 100%;
}

.foto {
    height: 350px;
    width: 350px;
    background-color: lightgrey;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
}

.textoqs {
    position: relative;
    height: 250px;
    width: 500px;
    top: 50%;
    left: 400px;
    transform: translate(0, -50%);
}

.redebar {
    position: relative;
    margin-left: 7px;
    width: 30px;
    display: inline-block;
}

.redebar:hover {
    opacity: 0.7;
}

.categorias {
    list-style: none;
    text-decoration: none;
    color: #464646;
    background-color: transparent;
    box-sizing: inherit;
    font-size: 14px;
    line-height: 1.3;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    float: left;
    box-shadow: 0 0 5px 0 #ED6908;
    order: -1;
    margin-left: 0;
}

ol {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

li.item {
    text-align: -webkit-match-parent;
    padding: 9px 21px;
    cursor: pointer;
    color: #464646;
    text-decoration: none;
    border-bottom: 1px solid #ED6908;
}

.redir {
    text-decoration: none;
    color: #464646;
}

.redir:hover {
    text-decoration: none;
    color: #464646;
    font-weight: bold;
}

.redir_item {
    text-decoration: none;
    color: #094F57;
}

.redir_item:hover {
    text-decoration: none;
}

.comprar:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.barracategoria {
    width: 20%;
    margin-right: 10px;
    padding: 0;
    order: -1;
    flex: inherit;
    position: relative;
    min-height: 1px;
    max-width: 100%;
    margin-left: 0;
}

.blocos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 25px;
    width: 1100px;
    min-height: calc(100vh - 133px);
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.align {
    align-self: center;
}

.principal {
    order: 0;
    flex:inherit;
    float: right;
    width: 80%;
}

.titulo {
    color: black;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #ED6908;
    margin-bottom: 15px;
    display: flex;
}

.resultados {
    color: grey;
    font-size: 12px;
    font-weight: normal;
    padding-top: 8px;
    margin-left: 3px;
}

.escolher-ordem {
    float: right;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ED6908;
    font-size: 13px;
    cursor: pointer;
}

.ferramentas {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.pre {
    margin: 0 auto;
    padding-top: 4px;
    float: none;
    display: table;
    background-color: white;
    height: 42px;
}

.local {
    margin-bottom: 0;
    background: 0 0;
    list-style: none;
    padding: 0;
}

.local_item {
    color: #ED6908;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    float: left;
}
a.local_item:hover {
    color: #ED6908;
}

.local_item::after {
    content: '/';
    font-size: 12px;
    display: inline-block;
    color: #636c72;
    padding: .5rem .5rem;
}

.prod {
    display: inline-block;
    position: relative;
    border: 1px solid #ED6908;
    border-radius: 8px;
    width: 25%;
    height: 350px;
    padding: 20px 5px;
    list-style: none;
    float: left;
    margin: 0 5px 10px 5px;
}

.prod:hover {
    background-color: #F9F9F9;
    border-color: #b55107;
}

li {
    list-style: none;
}

.produto_foto_top {
    width: 197px;
    height: 140px;
    position: relative;
    z-index: 2;
    transition: opacity 0.3s;
}

.produto_foto_top:hover {
    opacity: 0;
}

.produto_foto_bottom {
    position: absolute;
    width: 197px;
    height: 140px;
    right: 5px;
    top: 20px;

}

.produto_texto {
    padding: 0 15px;
}

.produto_preço {
    font-size: 26px;
    color:#ED6908;
    font-family: Swis721_B;
}

.produto_titulo {
    margin: 15px 0;
    color: #094F57;
    line-height: 1.5rem;
    font-family: Swis721;
    overflow: hidden;
    font-size: 22px;
    letter-spacing: .3px;
    text-align: left;
}

.produto_desc {
    color:#454545;
    text-align: left;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 118%;
    min-height: 35px;
    max-height: 56px;
    text-transform: uppercase;
}

.comprar {
    background-color: #ED6908;
    height: 38px;
    margin-top: 12px;
    border-radius: 4px;
    font-size: 22px;
    color: #fff;
    font-family: Swis721_B;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

.indisponivel {
    margin-top: 12px;
    height: 38px;
    border-radius: 4px;
    font-size: 22px;
    color: white;
    background-color: grey;
    font-family: Swis721_B;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

#before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 26%;
    display: flex;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: #000;
    -webkit-box-align:center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.compras {
    width: 22px;
    height: 26px;
}

.botao_comprar {
    padding-top: 5px;
    padding-left: 50px;
    color: white;
}

.foto_produto {
    width: 90%;
    margin-left: 5%;
    padding: 5px;
    height: 334px;
}

.bloco-foto {
    width: 50%;
    height: 450px;
    position: relative;
    order: -1;
    flex: inherit;
    border: 1px solid #ED6908;
    margin-right: 10px;
}

.info-produto {
    order: 0;
    flex:inherit;
    float: right;
    width: 50%;
    height: 450px;
}

.titulo-produto {
    color: black;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6;
    font-family: Swis721_B;
}

.foto-slider {
    display: none;
}

.thumbnail {
    cursor: pointer;
}

.fotos_thumb:after {
    content: "";
    display: table;
    clear: both;
}

.fotos_thumb {
    height: 114px;
    background-color: #FbFbFb;
    padding: 10px;
    box-shadow: 0 1px 2px #ED6908;
}

.thumb_fotos {
    float: left;
    background: white;
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 2px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-right: 4px;
    opacity: 0.6;
}

.div_fotos {
    margin-left: 45px;
}

.thumbnail {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.thumb_fotos:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    border-color: #ED6908;
}

.descriçao-produto {
    min-height: 200px;
    border-bottom: 1px solid #e6e6e6;
}

.preço-produto {
    font-size: 23px;
    color: #009e2a;
    font-weight: 700;
    font-family: lato,sans-serif;
    padding: 20px;
    padding-top: 30px;
    position: relative;
    flex: inherit;
    display: inline-block;
}

.cartao {
    position: relative;
    margin-right: 7px;
    width: 30px;
    display: inline-block;
    float: left;
}

.botao-produto {
    position: relative;
    display: block;
    flex: inherit;
    float: right;
    padding: 20px;
}

.botao-compra {
    background-color: #00a200;
    color: white;
    float: right;
    width: 180px;
    height: 53px;
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1;
}

.span {
    width: 100%;
    float: left;
    font-size: 9px;
}

.car {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 26%;
    display: flex;
    height: 100%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: #008300;
    -webkit-box-align:center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.compras_2 {
    width: 28px;
    height: 30px;
}

.indisponivel_2 {
    height: 38px;
    border-radius: 4px;
    font-size: 22px;
    color: white;
    background-color: grey;
    font-family: Swis721_B;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    padding: 4px;
}

.carrinho {
    overflow: hidden;
    padding-top: 20px;
}

.titulo_carrinho {
    width: 300px;
    text-align: left;
    padding: 8px 15px;
    border-radius: 8px 8px 0 0;
    border: 1px solid #ccc;
    border-bottom: 0;
    float: left;
}

.produto_carrinho {
    padding: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0 8px 0 0;
    font-family: Swis721;
    font-size: 18px;
    color: #333;
    overflow: hidden;
    float: left;
    clear: both;
    width: 1050px;
}

.botao_loja {
    height: 38px;
    border-radius: 4px;
    font-size: 22px;
    color: white;
    font-weight: 700;
    background-color: #00a200 ;
    font-family: Swis721;
    display: inline-grid;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    width: 160px;
}

.voltar_loja:hover {
    text-decoration: none;
    color: white;
}

.carrinho_desc {
    position: relative;
    display: inline-block;
    padding: 10px;
    height: 80px;
    width: 19.58%;
    margin: 0;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

.foto_carrinho {
    height: 80px;
    top: -10px;
    position: relative;
}

.center_2 {
  top: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtotal {
    width: 300px;
    text-align: left;
    padding: 8px 15px;
    border-radius: 0 0 8px 8px;
    border: 1px solid #ccc;
    border-top: 0;
    float: right;
}

.limpar_carrinho {
    color: rgb(194, 194, 194);
    background-color: rgb(245, 245, 245);
    float:right;
    border-radius: 3px;
    border-color: white;
}

.limpar {
    background-color: #ED6908;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    height: 35px;
    width: 260px;
}

.quant_but {
    width: 19px;
    border: 0;
    background-color: #ED6908;
    color: white;
    text-align: center;
    font-weight: bold;
}

.rot {
    transform: rotate(90deg);
}

.quant {
    border:.5px solid #e6e4e4;
    width: 100px;
}

.quantidade {
    display: inline-flex;
}

.erro {
    margin: auto;
}

.titulo_pedidos {
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    height: 54px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 2px;
    display: flex;
    margin-top: 10px;
}

.pedidos {
    margin-top: 15px;
    align-self: center;
    margin-bottom: 10px;
}

.pedido_coluna {
    min-height: 60px;
    width: 32%;
    border-left: 1px solid white;
}

.pedido_info {
    display: flex;
    flex-flow: row;
    border: 1px solid #f5f5f5;
    border-top: 0;
    padding: 15px;
    background-color: #fbfbfb;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.total {
    color: #ED6908;
}

.status.checked::after {
    opacity: 1;
}

.status {
    font-weight: 600;
    color: #797979;
}

.checked {
    color: green;
}

.status::after {
    content: '\2713';
    position: absolute;
    margin-top: 3px;
    line-height: 1;
    margin-left: 1px;
    color: #ED6908 !important;
    opacity: 0;
}

.itens_preço {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.preços {
    flex-flow: row;
    width: 49.3%;
    float: right;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    margin-top: 10px;
}

.bloco_preços {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #f5f5f5;
    border: 1px solid #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    border-radius: 2px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    min-height: 36px;
    font-weight: bold;
    height: 60px;
}

.info_preço {
    padding: 30px 26px;
}

.preço_left {
    width: 40%;
    height: 26px;
    background-color: rgb(237, 237, 237);
    color: rgb(121, 121, 121);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    border: 0.5px solid rgb(255, 255, 255);
    font-size: 12px;
    padding: 3px;
    padding-left: 18px;
    font-weight: bold;
}

.preço_right {
    width: 59%;
    height: 26px;
    background-color: whitesmoke;
    color: rgb(121, 121, 121);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    border: 0.5px solid rgb(255, 255, 255);
    font-size: 12px;
    text-align: end;
    padding: 3px;
    padding-right: 18px;
}

.preço_final {
    margin-top: 20px;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.forms {
    display: flex;
    flex-flow: column;
    width: 49.3%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    margin-top: 10px;
}

.cupom {
    padding: 20px 26px;
}

.frete {
    padding: 21px 26px;
    padding-bottom: 0;
}

.form_frete {
    padding-top: 0;
    padding-bottom: 0;
}

.form_esquerda {
    width: 50%;
}

.form_direita {
    background-color: #ED6908;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    width: 30%;
    height: 28px;
}

.obs {
    font-size: 12px;
    color: rgb(121, 121, 121);
    display: block;
}

.endereço {
    margin-top: 25px;
    margin-bottom: 25px;
}

.info_endereço {
    position: relative;
    margin-right: 15px;
    display: inline-block;
    height: 80px;
    width: 45%;
    flex-grow: 1;
}

.finalizar_compra {
    margin-top: 20px;
    width: 260px;
    margin-left: auto;
    margin-bottom: 20px;
}

.num_pagina {
    display: inline-block;
    padding: 6.6px 10px;
    border: 1px solid black;
}
